[2020-04-21 17:57] akhilmhdh opened #1 "Currently there is a prob of binary update."

[2020-04-22 07:54] akhilmhdh opened #2 "Testing action issue open"
Nothing. Just a test

[2020-04-22 07:57] #2 closed, assigned to nobody

[2020-07-03 06:56] samslow opened #6 "Where can i type parameters"
on the README.md
[code]

but idk where can i arrange this options

actions script or read me?

[2020-07-03 06:57] samslow opened #7 "Can i control header name ?"
this actions support keword 'Contributor'

but i want customize that name.

for example, Teammates, Friend ···

can you add this feature ?

[2020-07-03 08:56] akhilmhdh commented on #7
@samslow Thats a great feature. Ill definitely add it by today and release it. Thank you for your feedback. 😃

[2020-07-03 09:03] akhilmhdh commented on #6
Action script.
Her you go the doc ![https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action]
Scroll a bit down to the section Testing out your action in a workflow.
[code]
These are the places where variables are applied.

I'll also update the readme regarding this.

[2020-07-03 09:03] #6 closed

[2020-07-03 11:48] akhilmhdh commented on #7
Hey @samslow I have released a new version. Do check it out. Fixed the doc and some bugs too. Closing this issue.

New Release :
![Contributors-Readme-Action v1.1](https://github.com/marketplace/actions/contribute-list)

Looking forward to more feature suggestions and contributions. 😄

[2020-07-03 11:48] #7 closed

[2020-07-03 12:03] samslow commented on #7
wow you so fast

[2020-07-22 01:36] thedavidprice commented on #1
I might be encountering this issue -- when the Action runs, my README becomes an un-displayable binary file. Was that happening with this bug originally? If so, curious about the solution.

[2020-07-22 05:28] akhilmhdh commented on #1
@thedavidprice Hi david. Wow can u please tell me how the issue happened . I would love to solve the bug. Like how anyway for me to reproduce.

[2020-07-22 07:41] thedavidprice commented on #1
@akhilmhdh thanks for the reply! I think it might have to do with our use of HTML tags at the top of the README (for an image logo header). Let me diagnose a bit further and then I'll open up a proper issue if needed.

[2020-07-22 08:58] akhilmhdh commented on #1
@thedavidprice cool. I would be happy to help you. Ok ill close this issue, definitely open an issue when you find the bug.

Background: This issue one time came for my create-react-app generated readme but later when I tried it was working. So i think its caused by a specific encoding something like that.

[2020-07-22 08:58] #1 closed

[2020-08-27 20:05] atharwa-24 opened #8 "Can we add it to any other .md file instead of README file?"
If its possible then how to do so.

[2020-08-27 22:20] nhcarrigan opened #9 "Ordering Contributors"
I did not see it possible in the docs, but it would be nice to have a config setting that allowed us to set "priority" contributors who appear first in the generated table.

[2020-08-28 05:51] akhilmhdh commented on #9
@nhcarrigan currently i am using GitHub contributors API that gives the first 500 contributors in order of there commits. Can you please tell me what you meant by priority by an example. I would be glad to implement it.

[2020-08-28 05:53] nhcarrigan commented on #9
![image](https://user-images.githubusercontent.com/63889819/91526272-17413f80-e8b8-11ea-963b-4b5f96296cab.png)

This is an example from a project I am collaborating on. `bradtaniguchi` and I are the primary collaborators - would it be possible to add a config setting to say "list these users first in the table"?

[2020-08-28 05:55] akhilmhdh commented on #8
@atharwa-24 Hi there, Currently i am using GitHub readme API to fetch directly the readme file. So currently that ans is not possible. But if you meant by changing the readme.md to some other positioned .md thats a great feature. Ill definitely add it soon.

[2020-08-28 07:26] akhilmhdh commented on #9
ohhhhh currently as its based GitHub API the list based on most contributions made. But you want to override to set some core members to be in first category. Wow, thats actually a cool idea. I would definitely add this new feature. Give me sometime.

[2020-09-05 16:52] alandefreitas opened #12 "Sponsors / Weights"
Hi! Thanks for the action!

Is it possible to also add sponsors to the list?
On one hand, it could do that only by also querying ${sponsors}, right?

[code]

On the other hand, that might create some small conflict with https://github.com/akhilmhdh/contributors-readme-action/issues/9, since we would now have to weight sponsors/contributors to put them in order. And I think https://github.com/akhil

[2020-09-05 18:33] akhilmhdh commented on #12
Hi @alandefreitas 😄
. The sponser was a really good idea consider it done by this week itself. So i have been thinking about other issue. The other one I have a doubt what if I make the contributors into two categories. Like one for core team members and one for other contributors. Can you give your opinion about it, like would it be a nice feature to be added.

[2020-09-05 18:36] akhilmhdh commented on #9
@nhcarrigan Hi man. So a feature that I am thinking of is what about we make contributors list into much more division like Core team, and others as contributors like that instead of ordering them at first. Can you please give your opinion on that like will a division like that be nice or not.

[2020-09-05 18:37] nhcarrigan commented on #9
Yes, I think that would be an excellent approach!

[2020-09-05 18:46] akhilmhdh commented on #9
Thanks man 😄 , I will work on it asap.

[2020-09-05 18:48] nhcarrigan commented on #9
I haven't looked into the GitHub API much, but it may be possible to grab a repository's collaborators or organisation members for the "core team" section. 🤔

[2020-09-05 19:00] alandefreitas opened #13 "Sponsors / Weights"
Hi! Thanks for the action!

Is it possible to also add sponsors to the list?
- On one hand, we could do that only by also querying sponsors and adding them to the list.
- On the other hand, that might create some small conflict with https://github.com/akhilmhdh/contributors-readme-action/issues/9, since we would now have to weight sponsors/contributors to put them in order. And I think https://git

[2020-09-05 19:04] alandefreitas commented on #12
@akhilmhdh I pushed "command" before I finished writing. I thought I had canceled and just noticed I created two issues. Sorry about that. There's the other issue: https://github.com/akhilmhdh/contributors-readme-action/issues/13

[2020-09-05 19:04] #12 closed

[2020-09-05 19:09] alandefreitas commented on #13
To reply to your comment on the other issue:

Thanks for your reply. Two categories would be good. Weighting is also ok. It's just an extra boolean. 😀
There might be pros and cons though. The sponsor might want to be seen just like a contributor and vice-versa. Or maybe I'm wrong.
Although we need some criteria to order the list, I think not discriminating people into discrete categories is usuall

[2020-09-05 19:16] akhilmhdh commented on #13
Lol, Tysm for the feedback. I think i need to restructure some of this. I am finding a pattern here so that we can join both the requirements. Currently I am using contributors API which gives back top 500 contributors of a project. So that part is solved. Now to top the maintainers I am thinking of two ways. To prioritize them to top category or add them into another section. The sponser part and

[2020-09-05 19:21] akhilmhdh commented on #9
yah @nhcarrigan i think so but organization members can't be added right. I mean consider a big organization, each of them will be working on small projects independently right. Well i think i need to check the new updated GitHub API. To optimize and restructure everything.

[2020-09-05 19:49] alandefreitas commented on #13
For the number of contributors you could give an option to limit the number
of entries and then limit the array:

[code]

Sorting contributors by their contributions seem natural. If the person
wants the top contributors in another category, then it sounds like a very
specific use case, because you'd have to define what "top" means. Some
contributions are small, some are very useful, and truncatin

[2020-09-05 19:52] alandefreitas commented on #13
For the number of contributors you could give an option to limit the number of entries and then limit the array:

[code]

Sorting contributors by their contributions seem natural. If the person wants the top contributors in another category, then it sounds like a very specific use case, because you'd have to define what "top" means. Some contributions are small, some are very useful, and truncatin

[2020-09-06 05:15] akhilmhdh commented on #13
Yah I am gonna migrate to latest API now, also yah I need to shift to comment method than this.

[2020-09-08 06:40] akhilmhdh commented on #8
@atharwa-24 Hey man. Checkout the new [v2.0](https://github.com/marketplace/actions/contribute-list?version=v2.0). I have added a parameter to change your readme.md. Thank you for your feedbacks, closing this issue feel free to open it again if there's any issue

[2020-09-08 06:40] #8 closed

[2020-09-08 06:43] akhilmhdh commented on #9
@nhcarrigan checkout [2.0](https://github.com/marketplace/actions/contribute-list?version=v2.0). The usage of the action has changed kindly go through the readme. You can easily change the order now and prioritize some people. If this solved your issue kindly close it. 😄

[2020-09-08 06:45] atharwa-24 commented on #8
Thanks!!!

[2020-09-08 06:46] akhilmhdh commented on #13
@alandefreitas hey man, checkout [v2.0](https://github.com/marketplace/actions/contribute-list?version=v2.0). Kindly go through the readme, there are some big changes. I couldn't find API to fetch sponsors of a repo itself sadly. But u can now add custom list to satisfy it. If you find one please add it, ill be happy to add it to the project or feel free to PR.

[2020-09-08 12:32] alandefreitas commented on #13
Hey @akhilmhdh,

Cool! I'll update [my repository](https://github.com/alandefreitas/matplotplusplus) later today to v2.0. I'm already using v1.0.

I see you are now using a comment to decide where to put the list. That's going to be very useful because I can write something before the list.

I also noticed you created a syntax to put who you want to mention directly in the README. So smart. Much b

[2020-09-08 13:27] akhilmhdh commented on #13
Yah, ill soon have to change it too. But the issue is i saw this graphql, but the problem is its sponsers for a user rather than a repository : (

[2020-09-08 14:59] nhcarrigan commented on #9
Looks good to me!

[2020-09-08 14:59] #9 closed

[2020-09-08 15:12] akhilmhdh commented on #13
ohhhh. i didn't knew about that. Ok now I have an idea, ill add this feature soon. Then I can happily close this issue 😄 Will get back to you.

[2020-09-08 16:13] alandefreitas commented on #13
By the way, that's the query to get the collaborators:

[code]

😀

[2020-10-02 10:11] SkySails opened #15 "Cannot read property 'split' of null"
This action seems like it would be a great fit for our project. However, adding the configuration as described in the readme results in a check that fails every time with the error in the title. The project is question is completely public, with no protected branches.
I should probably add that I'm new to GitHub actions, so this might very well be the result of my own mistakes, but I am unable to

[2020-10-02 14:09] akhilmhdh commented on #15
Hi @SkySails I am really sorry about the issue caused from the action. Nope it was not all your mistake, It was a bug, where I accidentally thought than name must be given while registering in github which was not the case. Kindly use the new
[contributors-readme-action@v2.0.1](https://github.com/marketplace/actions/contribute-list) which i have fixed the bug, on your project. If it solved the iss

[2020-10-02 14:19] SkySails commented on #15
Simply brilliant! Worked like a charm and within seconds. Thank you, and happy hacktoberfest to you too!

[2020-10-02 14:19] #15 closed

[2020-10-02 20:10] alandefreitas opened #16 "Error: Cannot read property 'split' of null"
Hey @akhilmhdh,

I think I found a bug somewhere.

Everything was working perfectly until a few hours ago but now I'm getting [this error](https://github.com/alandefreitas/mdsplit/runs/1200676104?check_suite_focus=true#step:2:12):

[code]

It seems to have something to do with the "actions-user" "contributor". That seems to be the only thing that has changed.

[2020-10-02 20:14] akhilmhdh commented on #16
Hey @alandefreitas yup. The issue happened by an accident of my assumption that all GitHub users has a name which was false. Really sorry about that. I have released a new patch so use v2.0.1.

https://github.com/akhilmhdh/contributors-readme-action/issues/15

[2020-10-02 20:20] alandefreitas commented on #16
I'm sorry I didn't see the patch. My bad. 😔

[2020-10-02 20:20] #16 closed

[2020-10-02 20:22] alandefreitas commented on #16
The actions-user is going to the collaborators sections though.
https://github.com/alandefreitas/mdsplit#developers
I think it's a bot github doesn't officially classify as a bot. 🙃

[2020-10-05 22:57] alandefreitas opened #17 "Remove contributors"
Hi @akhilmhdh ,

Me again. 😆

Is there an option to remove specific contributors from the list?
The reason is that the "Actions-user" is considered a "contributor", and not a bot:
https://alandefreitas.github.io/matplotplusplus/contributing/contributors.html

At first, I was just going to leave it there. But I noticed that, because the bot is working every time anyone pushes something, it will qui

[2020-10-07 09:22] akhilmhdh commented on #17
lol @alandefreitas sorry man. I was working on a DL project on past two days. So was busy. Anyways actually I solved your issue its not about removing. It was my mistake in which i forgot remove bots from collaborators and add them to bots list. I have done it and released a new patch v2.0.2. Try it and if it solved please close this issue.

[2020-10-07 18:20] alandefreitas commented on #17
I updated to v2.0.2 but "Actions-user" is still there.
https://github.com/alandefreitas/mdsplit#developers

Not sure, but I think  "Actions-user" is a username people use in some actions but github doesn't really consider it a bot.

It's the username I use for updating the docs from an action:
https://github.com/alandefreitas/mdsplit/blob/25186280f4da22764603430cd43f5f3b96af2c53/.github/workflows/

[2020-10-07 18:44] akhilmhdh commented on #17
@alandefreitas did u removed old data. I am actually using the old template to reuse it again to speed up the action. Can you just remove old data and run the action

[2020-10-07 18:57] alandefreitas commented on #17
Mmm... I had no idea.

Anyway, I removed the whole table:
https://github.com/alandefreitas/mdsplit/commit/188c897559a04738f7f93e9ecf006f40ffa1528e

Actions-user updated the docs for me:
https://github.com/alandefreitas/mdsplit/commit/4bafc14d3ac6519823480c7b04db6cf8bd8e2bcf

An contrib-readme-bot update the README.md and included Actions-user back in there.
https://github.com/alandefreitas/mdsplit

[2020-10-08 17:52] akhilmhdh commented on #17
mmmm..interesting. I think I should probably use the action and see whats going on in it. Will ping you on new update 😄

[2020-10-18 18:13] panosru opened #18 "Error: Not Found"
I might not be using the action properly, but I'm getting the following output when I build the workflow:

![image](https://user-images.githubusercontent.com/400362/96376284-abc47180-1186-11eb-9f7a-935cff1ac2a2.png)

The YAML file looks like so:

[code]

I wonder what am I doing wrong :/

[2020-10-18 20:11] akhilmhdh commented on #18
@panosru That's a weird bug that I have seen. Can you please show me the repo your using it so that I can inspect it. I have just did a trail run on a dummy repo it was working fine. Have you added the readme comments in the given formats. Love to help you solve the issue.

[2020-10-18 20:13] panosru commented on #18
@akhilmhdh I just created an empty private repo with an empty README.md file, but I haven't created the CONTRIBUTORS.md file and based on your comment but also on a second look at the docs, I guess that I should've had done that!

I will do it now and I will let you know of the results.

[2020-10-18 20:16] akhilmhdh commented on #18
ohh found the issue. You dont need to add readme_path:contributors.md if you want it to be Readme.md. Its by default Readme.md. If you add that the action checks for that file and in your case it was not existing.

[2020-10-18 20:35] panosru commented on #18
@akhilmhdh, no I wanted to use contributors.md instead of readme.md, but I didn't create the contributors.md file with the appropriate template, now that I created the file and placed the template it worked fine!

![image](https://user-images.githubusercontent.com/400362/96385141-a4a75e80-119a-11eb-8b72-53e9612cbc08.png)

Thanks for the support and I'm sorry for the n00bish question!

[2020-10-18 20:35] #18 closed

[2020-10-18 20:39] akhilmhdh commented on #18
Nah, its ok 😄. Tysm for using the action. If you find it useful kindly star the project for future update.

[2020-10-18 20:41] panosru commented on #18
I just stared it! :)

I was using `all-contributors`  repo for a long time, but I always used it manually, now with your action I can automate the process! yeah! 😄

[2020-12-05 10:21] akhilmhdh commented on #13
@alandefreitas Hey 😄 . I am going to close this issue now. Coz released a new version [v2.1](https://github.com/marketplace/actions/contribute-list) which supports sponsors too now. Feel free to open it if any issues arise on this topic.

[2020-12-05 10:21] #13 closed

[2020-12-05 10:22] akhilmhdh commented on #17
@alandefreitas Check the new [v2.1](https://github.com/marketplace/actions/contribute-list) I have fixed this bug for you. Moved the actions-user to bots list. If it solves it kindly close the issue, else definitely comment here.

[2020-12-05 16:41] alandefreitas commented on #13
Cool! Thanks @akhilmhdh !

[2020-12-05 16:41] alandefreitas commented on #17
Thanks!

[2020-12-05 16:41] #17 closed

[2021-02-06 09:14] EmilStenstrom opened #20 "Only run when contributors change"
As of now the contributor-readme-bot runs on each commit or merge. Would it be possible to only run it when the list of contributor actually changes? The annoying part of it running all the time is that making two quick commits and pushes locally fails, since contributor-readme-bot gets in between them. Not sure if I'm making sense.

Thank you for a great bot, really helps push the community part

[2021-02-06 13:41] akhilmhdh commented on #20
@EmilStenstrom ohhhhh really. That's a bug then I guess. Cause I trigger commit only when the readme needs to be changed. By comparing base64 of original readme and formatted one. So I am assuming there must have happened a bug. Definitely will check it. Give me two days, cause currently in another work 😢 . But will fix it asap.

Also tysm for your kind words. Much appreciated 😄

[2021-02-06 15:36] EmilStenstrom commented on #20
Ah, that makes sense. But then the bot will run when the README is changed for other reasons. I think that's what happened to me. I thought it ran on every commit, but the commits I looked at was other changes to README.

[2021-02-06 18:21] akhilmhdh commented on #20
But still its an annoying thing agreed. I'll definitely look into this and find a solution. ✌🏽

[2021-02-18 17:17] Maniacxxx opened #21 "Error in Actions"
![image](https://user-images.githubusercontent.com/52683414/108394477-bfd6b900-71e2-11eb-96c4-db193688035e.png)

`Error: Could not resolve to a User with the login of 'KNOWLDGE'.`

It's saying that KNOWLDGE is a User, not an Organization.

[2021-02-19 17:29] akhilmhdh commented on #21
@Maniacxxx Sorry for late response. Oh that's a good find. Ill try to reproduce it and fix it  asap. So sorry for the bug. Give me some time. Running on a bit tight schedule.

[2021-02-19 21:10] EmilStenstrom opened #22 "Messing up encoding of á to C"
The bot seems to mess up the encoding when changing the README file. An á used outside of the bot's contrib comment is changed to (something that looks like, I haven't verified that it isn't some strange unicode char) a C:

Here's an example: https://github.com/EmilStenstrom/django-components/commit/63a63815e1df29b558a021bb419d37ce2cd92b76#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428

[2021-02-20 05:47] akhilmhdh commented on #22
@EmilStenstrom i think this issue is due to my conversion from base64( contents are given from github api using base64 ) to ascii conversion. I was using utf-8 and there was a good reason why i shifted it to ascii though. Forgot the reason though. But ill find a solution on this.

[2021-02-20 05:48] akhilmhdh commented on #22
Will release a patch soon :smile:

[2021-02-20 09:35] EmilStenstrom opened #23 "Linesbreaks after starting comments get converted"
The bot seems to care about when type of linebreak there is after the starting comment where contributors are added. This means that the bot will battle with my editor, as my editor is set to use one type of linebreak, and contributor-readme-action is set to use another one.

Example commit: https://github.com/EmilStenstrom/django-components/commit/2ff3b3291c0a4cf7a6de213beb5821386730c9fc

[2021-02-20 11:12] akhilmhdh commented on #23
@EmilStenstrom  Oopz. Will fix all these issue by tonight.
Thank you so much for reporting these  bugs. Much appreciated

[2021-02-20 11:58] akhilmhdh commented on #20
@EmilStenstrom Can u please tell me a way to reproduce this bug. I have solved other two bugs. So planning to solve this one also in this patch

[2021-02-20 20:54] EmilStenstrom commented on #20
I thought the action was run each time the README was changed? In that case, changing the README should trigger it?

[2021-02-21 09:50] akhilmhdh commented on #23
@EmilStenstrom  Hey there. [contributors-readme-action v2.1.1](https://github.com/marketplace/actions/contribute-list) has been released and fixed these bugs. Kindly update your workflow file.

Tysm for using this action and your feedbacks are much appreciated. For future release and also if you have liked the bot, kindly give a star ⭐ ( makes me also happy 😅) .

Closing this issue. Feel free to o

[2021-02-21 09:50] #23 closed

[2021-02-21 09:51] akhilmhdh commented on #22
@EmilStenstrom  Hey there. [contributors-readme-action v2.1.1](https://github.com/marketplace/actions/contribute-list) has been released and fixed these bugs. Kindly update your workflow file.

Tysm for using this action and your feedbacks are much appreciated. For future release and also if you have liked the bot, kindly give a star ⭐ ( makes me also happy 😅) .

Sidenote: It was the ascii issue c

[2021-02-21 09:51] #22 closed

[2021-02-21 09:52] akhilmhdh commented on #21
@Maniacxxx   Hey there. [contributors-readme-action v2.1.1](https://github.com/marketplace/actions/contribute-list) has been released and fixed these bugs. Kindly update your workflow file.

Tysm for using this action and your feedbacks are much appreciated. For future release and also if you have liked the bot, kindly give a star ⭐ ( makes me also happy 😅) .

Closing this issue. Feel free to open

[2021-02-21 09:52] #21 closed

[2021-02-21 09:54] akhilmhdh commented on #20
@EmilStenstrom  I did made a change to readme's other parts. But it waas working fine. the bot didn't updated it.

[2021-02-23 21:23] EmilStenstrom commented on #20
Ah, so maybe it was the newline change that triggered it? That would make sense because it was technically between the comments. Thank you for your hard work! :)

[2021-02-23 21:23] #20 closed

[2021-02-23 21:24] EmilStenstrom commented on #23
Thank you! Will update the bot and just starred this project! :D

[2021-02-25 17:27] Maniacxxx commented on #21
Thank you, it works now! Love the project I'll be sure to star it!

[2021-05-25 19:30] LorhanSohaky opened #26 "Can I use the user name instead of the name?"

[2021-05-25 20:01] akhilmhdh commented on #26
Hi @LorhanSohaky ,
Did u mean as the title under the image as username.

[2021-05-27 00:44] LorhanSohaky commented on #26
Exactly! For example my full name is Lorhan Sohaky and my username (login name) is LorhanSohaky

In the [Brasil API](https://github.com/BrasilAPI/BrasilAPI/) project we used this pattern and I would like to use your action in it.

- [issue](https://github.com/BrasilAPI/BrasilAPI/issues/302)
- [pr](https://github.com/BrasilAPI/BrasilAPI/pull/314)

[2021-05-27 07:40] akhilmhdh commented on #26
@LorhanSohaky ohhh wow. Awesome.

I'll try to add this config during weekend. Also if u want to, feel free to open a PR.

[2021-05-27 12:41] LorhanSohaky commented on #26
Thanks!

I see on the weekend can take to add the feature to not show a person in contribuidore list

[2021-06-26 18:09] FDiskas commented on #26
Yes please - missing the feature remove something from the list.

[2021-06-26 18:17] akhilmhdh commented on #26
Damn. I am so sorry. I was planning to work on this. But currently my exams are going on. So haven't got the time to include this feature. Although some parts needs to be changed this feature will come out as -<username> to remove a user.

But the issue is haven't got the time to get into this. Let me see if I can make this release by this week.

Thank you your feedback. Really glad  to hear users

[2021-07-17 18:01] akhilmhdh commented on #26
Hey @LorhanSohaky  @FDiskas . Sorry for the delay. But good news. 😄

contributors-readme-actionv2.2 has been released. It has the option to add use_username to the config to use that. Also introduced operators. Currently operator `-` can be used to remove a person from list. Kindly read the Readme.md.

Also the order is given importance so to remove a user properly, kindly add at last.

Closing th

[2021-07-17 18:01] #26 closed

[2021-07-17 18:04] akhilmhdh commented on #26
Adding an example to avoid confusion
[code]
This removes `akhilmhdh` from the list.

[2021-07-17 19:47] FDiskas commented on #26
That's a supper great news. Thanks for this feature.

[2021-07-21 12:06] LorhanSohaky commented on #26
Thank you very much!!!
I tried to change it, but the REGEX were complicated for me to understand

[2021-07-21 17:36] akhilmhdh commented on #26
@LorhanSohaky So sorry for that. I think I should improve my documentation. I give a great importance on my code quality. Ill definitely look into adding better internal doc to improve code readability.

Regex was a choice I had to make, because given the parsing and also all the corner cases, JS split was a not good one.

[2021-07-21 19:50] FDiskas opened #27 "Wildcard on usernames"
I'm sorry if I'm asking to much. But would be great to have ability to not include github bots like `*bot` or similar.
You can use `micromatch` module for that

[2021-07-22 04:32] akhilmhdh commented on #27
@FDiskas Sorry, but i didn't get you. The list of contributors and collaborators are already filtered out from bots. Bots can be added via username or bots keyword.

[2021-07-22 05:01] #27 closed

[2021-08-31 17:11] EmilStenstrom opened #28 "Error: Could not update file: 4 of 4 required status checks are expected."
Hi,

I'm getting a new kind of error. I think it's because I accepted a PR from dependabot. What does "Error: Could not update file: 4 of 4 required status checks are expected." mean, and do you have any idea of what I can do to resolve it?

Link to relevant error:
https://github.com/EmilStenstrom/django-components/runs/3475644213?check_suite_focus=true

[2021-09-06 07:26] EmilStenstrom commented on #28
Ok, so this does not seem to be generated by this library directly: https://github.com/akhilmhdh/contributors-readme-action/search?q=console

[2021-09-06 07:29] EmilStenstrom commented on #28
So this must have something to do with my repo having status checks defined.

![image](https://user-images.githubusercontent.com/224130/132177300-361cfa56-2afc-423e-a282-55b3965a79d1.png)

[2021-09-06 07:34] EmilStenstrom commented on #28
The only thing I can think of is that this action merges too fast, so status checks have not be run yet, and therefore fails. Any ideas of how to solve this?

Maybe this? https://github.com/WyriHaximus/github-action-wait-for-status

[2021-09-06 07:55] akhilmhdh commented on #28
Ohhh damn. 6 days ago. Oopz really missed the notification. My bad first of all sorry for the delayed response.

[2021-09-06 07:57] EmilStenstrom commented on #28
@akhilmhdh Sorry for rushing, wasn't my intent! I just wanted to add a bit more context and see if I could solve this myself.

[2021-09-06 08:01] akhilmhdh commented on #28
Not at all. Thank you for looking through this while I was absent. Yah your right I think its due to the status check.

Didn't knew github even had a feature like this 😅 .
I think its may be i am directly committing and pushing the readme change.

[2021-09-06 08:11] akhilmhdh commented on #28
can you try using with the above action. But I don't think it will work as I am using Github api to update the readme.

One way to solve this is to run the action in cron on another branch and then merge it periodically.

[2021-09-08 11:29] EmilStenstrom commented on #28
I think status checks are available in the API too. So maybe there could be another API call to check if the check(s) has passed or not? https://docs.github.com/en/rest/reference/checks

I've seen lots of projects that require tests to pass to allow commits to the main branch, that's what I'm using this for. For now, I've disabled status checks so that I get proper contributor attribution in the r

[2021-09-08 14:27] akhilmhdh commented on #28
@EmilStenstrom  good find. Give me this week. Let me see if this addressed in API and if so I ll make that change. In meantime if you find anything please update me. Would be happy to help you

[2021-09-13 06:05] akhilmhdh commented on #28
@EmilStenstrom  I think I did found a solution. The issue with status check or any branch protection is direct commit is not allowed. So how status check works is, after a commit to another branch and on putting a PR the status check runs. Only after that commit can be made.

So i am planning to soon integrate a new feature in which for protected branches the action will put a PR for any change in

[2021-09-13 06:34] EmilStenstrom commented on #28
Nice, that's a great solution! Looking forward to it.

[2021-10-05 08:13] fdciabdul opened #29 "Limit contributor list"
this is only showing 30 contributor list in Read me.md

i had 100+ contributors in my repo

[2021-10-05 09:02] akhilmhdh commented on #29
@fdciabdul  really. need to check whether github changed there api limit default value.

[2021-10-05 09:04] akhilmhdh commented on #29
@fdciabdul  good catch indeed. The api has changed. Will make this patch soon, or feel free to open a PR
https://docs.github.com/en/rest/reference/repos?query=list+contributors#list-repository-contributors

[2021-10-05 09:25] fdciabdul commented on #29
right , see this one https://github.com/fdciabdul/Hacktoberfest-Indonesia-2021#kontributor-list

i think , the github api isn't limited that small , looking from https://github.com/lacolaco/contributors-img
that was showing 100+ contributors from github public API

[2021-10-05 09:30] akhilmhdh commented on #29
No no github api isn't limited at all. The issue is at the time of writing this action github api contributors list had no pagination.
Rather it showed 500 contributors list.

Now they have changed with default as 30 and pagination is included. I need to make a change in loading up contributors list by fetching all from paginated one

[2021-10-05 09:31] akhilmhdh commented on #29
Ill patch this by today

[2021-10-05 19:46] akhilmhdh commented on #29
@fdciabdul Hey there i have released the patch [contributors-readme-action@v2.2.1](https://github.com/marketplace/actions/contribute-list). It will solve your pagination and will list all users.

Thank you so much putting this issue and for using my action. Loved to get more feedback from users. Closing this issue for now, as i feel it's solved. Feel free to open it again if it doesn't solve.

Kin

[2021-10-05 19:46] #29 closed

[2021-10-05 19:50] EmilStenstrom commented on #28
@akhilmhdh No worries, take your time. I've disabled status checks for my repo while you are working on this.

[2021-10-10 17:01] akhilmhdh commented on #28
@EmilStenstrom  This is the workflow that i came up with....

When there is change in contributors list these are the changes that comes up when protection mode is set true..

1. A branch is created with `contributors-action-<timestamp>`
2. Then the readme PR is made with a customizable title and description
3. You can then accept the PR.

So for all new changes the PR it will create a new branch

[2021-10-10 19:10] EmilStenstrom commented on #28
@akhilmhdh Sounds great to me! Thanks for working on this! :)

[2021-10-11 05:06] akhilmhdh commented on #28
Awesome. Will soon release this version

[2021-10-16 06:43] akhilmhdh commented on #28
Hey @EmilStenstrom, I think this took longer than I thought.
First of all thank you so much for your patience.

I have released the the new version of [v2.3](https://github.com/marketplace/actions/contribute-list) which has the `is_protected` option that will now onwards send a PR on update in contributors list on setting it to true.

Closing this issue as this will solve it. Feel free to re-open

[2021-11-03 18:18] EmilStenstrom opened #33 "Error: Resource not accessible by integration"
hi,

I enabled the action again, and now I get this weird error:

https://github.com/EmilStenstrom/django-components/runs/4095640771?check_suite_focus=true

Any clues?

[2021-11-04 07:20] akhilmhdh commented on #33
@EmilStenstrom i think that error is due to lack of permission to put PR by taking a branch.

Ref: https://github.com/actions/first-interaction/issues/10

[2021-11-04 07:24] akhilmhdh commented on #33
Most probably permission issue again. I guess even PR is having limitation. Easiest way that i found out to escape is to use personal access token. Should be last cause. Can you check ur repo permission

[2021-11-04 07:55] EmilStenstrom commented on #33
I'm not sure where to look. There are no restrictions on who can create a PR currently. I'm not sure what else could be wrong?

What "resource" does the error message reference?

[2021-11-04 10:32] akhilmhdh commented on #33
True. Let me see what's the root cause. Can you share me what all are the checks that you have put.

[2021-11-04 10:47] EmilStenstrom commented on #33
![image](https://user-images.githubusercontent.com/224130/140300827-158e7220-8650-489f-a006-068faf9187e4.png)
![image](https://user-images.githubusercontent.com/224130/140300893-45ab0d1c-c601-4f58-818e-31367e5b4ea5.png)

[2021-11-04 16:02] akhilmhdh commented on #33
@EmilStenstrom  I think i found out the issue: https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/

Something totally out of my hands i think so. Only alternative i find is using PAT

[2021-11-05 16:41] MrChocolatine opened #37 "Suggestion - Auto-detect if default branch is protected + new output "ID of the PR that was created""
1. You should be able to automatically detect if the default branch if protected or not, making the input `is_protected` not needed anymore.

I am suggesting this because I was implementing a reusable workflow for my company, which relies on your GitHub Action, and I wanted to avoid:

1. To manually pass an input `is_protected` from my repositories' workflow to my reusable workflow
2. To pass the

[2021-11-05 18:00] akhilmhdh commented on #37
@MrChocolatine  The only catch here is I want to give the user freedom to run on any branch rather than default. But yah I guess i dont need to call default branch i am currently fetching the branch the action needs to run on and then I can do the check as you mentioned.

Good one indeed. Ill add that feature with your pr merge and release a new patch.

[2021-11-05 18:10] MrChocolatine commented on #37
Awesome 👍  , thank you!

[2021-11-06 14:19] akhilmhdh commented on #37
@MrChocolatine  There is a small issue with automating protected. That is consider branch is not protected but has status checks then PR mode needs to be made.

[2021-11-06 14:21] akhilmhdh commented on #37
One way is something called pr_mode with two options. Either `auto` mode that detects or `always` mode. By default it will be `auto`. Whats your opinion on this!!

[2021-11-08 00:03] MrChocolatine commented on #37
Sorry I am not sure to fully understand.

If I am not wrong you are talking about the option `Require status checks to pass before merging`, that we can find when enabling branch protection at the URL `https://github.com/<owner>/<repo>/settings/branches`, am I right?

But when activating this option the targeted branches are considered "protected".

[2021-11-08 05:31] akhilmhdh commented on #37
Oops. That was something I didn't know.

Then never mind. Ill release the patch by today. 👍🏽

[2021-11-08 08:40] MrChocolatine commented on #37
Yep.

**With no rule at all**

[code]

**With the option `Require status checks to pass before merging` enabled**

[code]

[2021-11-08 09:06] akhilmhdh commented on #37
Awesome. Thank you for that verification. So helpful

[2021-11-08 09:39] MrChocolatine commented on #37
You are welcome :v: .
I actually use that endpoint when working on my implementation (initial message).

[2021-11-08 14:39] akhilmhdh commented on #37
Hola. New version of [Contributors-Readme-Action v2.3.1](https://github.com/marketplace/actions/contribute-list) has been released with the protected auto detection and also your valuable contributions. Thank you so much for your effort. Planning to release v3 soon with some major features 😃.

Closing this issue as it's resolved. Feel free to open it or open another one if you find any bug.

⭐ the

[2021-11-08 14:39] #37 closed

[2021-11-08 18:56] MrChocolatine opened #39 "Output `pr_id` does not return the right value"
Hey @akhilmhdh ! I was implementing your latest changes (thanks a lot for your reactivity!) and I was getting weird results when reusing your output `pr_id`.

It turns out, you are using the wrong key: `id` instead of `number`.

I know it is confusing, I would have done the same mistake, but that's GitHub's terminology ¯\_(ツ)_/¯ .

https://github.com/akhilmhdh/contributors-readme-action/blob/93b97

[2021-11-08 18:58] MrChocolatine commented on #37
Happy to participate whenever I can 👍  .

[2021-11-08 18:58] akhilmhdh commented on #39
Dang. My bad and good catch. Yup you can open that PR. Also @MrChocolatine can you bumb the readme too. I mean the readme has v2.3.1 i think. Can u bumb to next patch?

[2021-11-08 19:09] MrChocolatine opened #40 "Ignore `/dist/` folder"
The directory `/dist/` should be "gitignored".

[2021-11-08 19:10] MrChocolatine commented on #39
I will do that.

1. Fix
1. I just made another issue/suggestion to add to `.gitignore` the directory `/dist/`:
    https://github.com/akhilmhdh/contributors-readme-action/issues/40
1. New release and the update examples to the new version

[2021-11-08 19:11] akhilmhdh commented on #40
@MrChocolatine it should not be. For a github action its oppposite dist must be present. That's how other repo runs an action

[2021-11-08 19:13] akhilmhdh commented on #39
Kindly dont tag or release it. Ill do that please.

[2021-11-08 19:13] MrChocolatine commented on #40
All right.

[2021-11-08 19:13] #40 closed

[2021-11-08 19:24] #39 closed

[2021-11-08 19:26] akhilmhdh commented on #39
Released. 😄

[2021-11-08 19:29] MrChocolatine commented on #39
Everything works like a charm now, excellent, thanks again.

[2021-11-09 16:05] MrChocolatine opened #42 "Unsigned commits block PRs on protected branch"
Hello again @akhilmhdh .

I might have spotted a small issue, quite blocking actually. A protected branch may require commits to be signed, therefore, as of now, when your GitHub Action creates a PR it will never be valid since the commit is not signed.

I haven't taken a deep look but by looking at this, it does not seems too complicated:
- https://gist.github.com/swinton/03e84635b45c78353b1f71e4

[2021-11-09 16:31] akhilmhdh commented on #42
I think it will be an issue only when the commit should have signature is enabled in protected section. But yah its a catch. Dropping is not a good thing.

Yah need to go through this what are the options. Will soon release a patch to solve this.

[2021-11-09 16:35] akhilmhdh commented on #42
They do have an option they can replace the commiter signature with there own signed bots/account if needed. Thats one solution. Let me try out in a dummy repo my options. Will get back to this

[2021-11-12 14:04] akhilmhdh commented on #42
Hola @MrChocolatine .

Released a new patch that changed to verified commits. Yes, the easiest solution was to use the default `gh-action` as they are verified already. [v2.3.3](https://github.com/marketplace/actions/contribute-list) is released and now available.

In future I may change to verified `contrib-readme-bot`, but for now easiest fix was use default one. Thank you for putting this issue

[2021-11-12 14:04] #42 closed

[2021-11-12 14:06] akhilmhdh commented on #33
Hey @EmilStenstrom  closing this issue as its something out of my hand and due to inactivity 😅 . Feel free to open it if anything else is the root cause and I can definitely help you on it.

[2021-11-12 14:06] #33 closed

[2021-11-12 14:36] EmilStenstrom commented on #33
Hi again. Sorry for not getting back to you. After we last spoke, I did get some PR:s posted. I did not change any settings, so I'm not sure what changed. Anyways, I got five (!) PR:s in quick succession: https://github.com/EmilStenstrom/django-components/pulls?q=is%3Apr+is%3Aclosed

I think it's best that I go back to a non-protected branch, and just use the action as it was intended to. Thank yo

[2021-11-12 18:43] akhilmhdh commented on #33
@EmilStenstrom i check ur workflow. Your running it on every branch on almost all events. I definitely won't recommend that.

Github contributors are only in master right. Thats the issue. Run contributors on main only . It will then be only when there is a change in actual list and will be much more smaller may be even once in  a week.

[2021-11-12 18:44] akhilmhdh commented on #33
Oh dang ill update my readme too

[2021-11-12 18:55] akhilmhdh commented on #33
@EmilStenstrom Yosh updated readme. Run it against main branch only and your good to go.

You wont even have the error in this issue because due to dependent bot token read_only issue. This will also reduce the PR generated **a lot** (let me bold that lot for you 😆 ).

[2021-11-12 22:02] EmilStenstrom commented on #33
Ahhh. Thanks! I changed according to the instructions in the readme, and so far, so good! :)

[2021-11-15 12:06] MrChocolatine commented on #42
Awesome, works like a charm! Thank you @akhilmhdh

[2022-01-17 13:00] paulmowat opened #43 "Automated Branch Protection Detection"
Hi,

Just started using this and wanted to use this along with branch protection.

I noticed a recent change to automate detection of this and to raise a PR instead of doing it automatically.

It is possible to have branch protection and set up appropriate personal access tokens that you could pass instead of the GITHUB_TOKEN to allow it to work.

I have this working on v2.3 with a branch setup wi

[2022-01-17 14:51] akhilmhdh commented on #43
Hey @paulmowat ,

First of all thank you for using my github action.

So your usecase If I am right is, directly committing by changing with personal token. I think I did suggest it in my readme regarding this. So a way to disable protection detection

So how about an option is like `detect_protection` a boolean variable

[2022-01-17 14:57] paulmowat commented on #43
Yes, that's it. I set up branch protection to allow a specific build user to commit and create a personal token from there.

A option to turn off the protection to avoid it creating the PR would do the job.

Could do `detect_protection` a boolean variable that is set to true by default so works as it currently does, but gives the option to override it as needed.

Happy to do a PR for the change if

[2022-01-17 15:13] akhilmhdh commented on #43
Oh sure. You can raise any concerns regarding this here. I am happy to help anytime.

Just adding a walkthrough here.
1. In action.yml add the variable with default value true
2. In `index.js` get the input variable with `getBooleanInput` to get it as boolean instead of string
3. Override `isProtection` if check in `index.js` using the input with a logical operation

[2022-03-02 19:39] Lissy93 opened #45 "Returns undefined, when sponsor is an organisation"
Heya @akhilmhdh,
Love your action, it's awesome!

This is a very minor issue, but when using to show a list of sponsors, if one of your sponsors is an organisation (instead of an individual user), then it shows up as undefined in the results table - [here's an example](https://github.com/Lissy93/dashy/blob/master/docs/credits.md) from my repo.

<p align="center"><a href="https://github.com/Lissy93

[2022-03-03 05:47] akhilmhdh commented on #45
hey @Lissy93  Thank you so much for using the action and also for your kind words 😃

Ahhh got it. Thank for for sharing the repo link, and also the detailed cause of it. Will resolve and release a patch asap.

Hihi. GH action testing is still kinda tricky as you need to push to test. I am planning to rewrite the action in v4 to make local development and testing lot easier. And to make contributio

[2022-03-04 16:59] akhilmhdh commented on #45
Hey @Lissy93

I was actually going though this bug and ran this query in explorer and found out that GitHub is giving null. Weird, i must say.

![Screenshot 2022-03-04 at 10 24 18 PM](https://user-images.githubusercontent.com/31166322/156806366-9d871021-c853-4206-a48f-9ea4d05893a0.png)

So i checked your sponser list in profile and actually there is also same case 😅

![Screenshot 2022-03-04 at 10

[2022-03-04 17:42] akhilmhdh commented on #45
Hey @Lissy93 I have released new patch version that resolves this.

Checkout [contributors-readme-actionv2.3.4](https://github.com/marketplace/actions/contribute-list)

I am closing this issue as I assume this will resolve it. If not or if you have any trouble feel free to open the issue.

[2022-03-04 17:42] #45 closed

[2022-03-04 17:45] akhilmhdh commented on #43
Hey @paulmowat first of all apologizing early.

Now the reason, I ended up implementing this while releasing for another patch.
Checkout [contributors-readme-actionv2.3.4](https://github.com/marketplace/actions/contribute-list)

I thought you may have got busy with work, so thought let me solve it on the fly. If I made you efforts in vain, so sorry

Closing this issue as  this will resolve it. If

[2022-03-04 17:45] #43 closed

[2022-03-27 01:26] kailong321200875 opened #46 "If there is readme.md and readme.zh-CN.md How should be configured"
If there is readme.md and readme.zh-CN.md How should be configured

[2022-03-30 05:00] akhilmhdh commented on #46
Hey @kailong321200875 . Sorry for the delayed reply.

If you have two readme the easiest way to show list in both is run two actions and using `readme_path` option point one towards `readme.md` and other one towards `readme.zh-CN`

[2022-03-30 07:17] kailong321200875 commented on #46
OK，thank you

[2022-03-30 07:17] #46 closed

[2022-07-14 15:12] EmilStenstrom opened #49 "Names with brackets `<` and `>` get interpreted as HTML tag"
Hi! I have a contributor with angle brackets like this: `<USER NAME HERE>`. This name shows up empty in the readme. I think it would be a good idea to escape the user name to avoid breaking the readme.

![image](https://user-images.githubusercontent.com/224130/179015765-0aad0760-37e2-437f-b8ed-28bdd854497d.png)

[2022-07-15 16:55] akhilmhdh commented on #49
Good catch. Soon ill be applying a templating engine in v4.

But yah ill release a patch immediately

[2022-07-19 17:49] akhilmhdh commented on #49
Hey @EmilStenstrom . I have released patch for this action. [Contributors-Readme-Action v2.3.5](https://github.com/marketplace/actions/contribute-list).

Closing this issue as its resolved. Feel free to re-open if its not resolved.

[2022-07-27 08:47] EmilStenstrom commented on #49
Works great, thanks again @akhilmhdh! :)

[2022-07-29 19:46] EmilStenstrom commented on #49
Not so fast. It seems to re-escape the already escaped characters each time it's run. Check this PR: https://github.com/EmilStenstrom/django-components/pull/167/commits/8f76c3f748d4ed4a788dbe268db999f0e72b67a4

[2022-07-30 08:45] akhilmhdh commented on #49
Ohhh dang @EmilStenstrom my bad. Will resolve it. I missed that case

[2022-08-02 16:50] akhilmhdh commented on #49
hey @EmilStenstrom released a patch v2.3.6 that fixed the re-encoding issue. Let me know if any issue with it.

[2022-08-02 16:50] #49 closed

[2022-08-07 00:21] 0dminnimda opened #51 "Add images to README"
It feels like the readme will get much better if there would be some images/examples.
As someone who just found this I wanna quckly see first if I want this thing to change my readme

[2022-08-08 00:17] xobotyi opened #52 "Exlusion list"
It would be great to have exlusion list, as some of bots are not fitered by default filter, 4ex: https://github.com/react-hookz/web

It seems that @semantic-release-bot and @lint-action are registered as regular users, but not bots, and therefore are not filterbale by type.

[2022-08-08 06:36] akhilmhdh commented on #52
Hey @xobotyi . You can do an exclusion, by just adding in format `-<username>` and these will get removed.

Or did u mean to store like an ignore list in a file

[2022-08-08 06:39] akhilmhdh commented on #51
Hi @0dminnimda.

Sorry, I didn't get you. You mean the final result of how the readme be like, that image

[2022-08-08 06:47] xobotyi commented on #52
🤔 Haven't seen it in docs (maybe I was inattentive).

Actually I'd expect an option within `with` section of action config, but current approach is also fine for me, as I'm planning to have only one section.

Nevertheless it may be a worth option to implement as maybe I'm not alone in that confusion🙃

[2022-08-08 06:52] xobotyi commented on #52
Yup, read the docs not thorough enough🙈

Maybe it is worth adding separate section after "how to add more users" with explicit name like "how to exclude users from list"

[2022-08-08 07:17] akhilmhdh commented on #52
😄  gotcha. Thanks for the feedback. Yah your right, the exclusion part needs a but more attention. Will update the readme soon.

 I am planning to soon release v4 which will be much more powerful and customizable. WIll consider this on the next major release as an easier solution.

[2022-08-08 09:29] 0dminnimda commented on #51
If I understand correctly this repo helps to add a "Contributirs" section to the readme
I want to see how it'll look

[2022-08-08 09:51] akhilmhdh commented on #51
Yah. Basically its a Github Action. And all you need do is add a config file to your repo and that's the instruction in readme.

Let me know what got you confused. I'll work on that definitely. If your new to Github actions would recommend to go through below references.

Ref:
https://github.com/features/actions
https://docs.github.com/en/actions

[2022-08-08 10:12] 0dminnimda commented on #51
I'm not confudes by actions.
I can't find depiction of the end result actions will have on the hypothetical readme
You want to sell with images, you know ;)

[2022-08-08 10:16] 0dminnimda commented on #51
For exmaple you can immediately see how all-contributors will look with [their contributers in thir readme](https://github.com/all-contributors/all-contributors#contributors-)
You don't have to use your contributors and don't have to add it in markdown. But there needs to be an example

[2022-08-08 13:35] akhilmhdh commented on #51
Ahhh. Ok got it. Will update the readme

[2022-08-08 14:58] akhilmhdh commented on #52
Hey @xobotyi , I have updated the readme with the walk through and added boldness to get attention to key points.

Feel free to raise an issue if you come across. Once again thank you for feedback 😃  . Closing this issue for now

[2022-08-08 14:58] #52 closed

[2022-08-08 14:59] akhilmhdh commented on #51
Hey @0dminnimda , I have updated readme with an image on final result.

Thank you for your feedback, much appreciated. Feel free to raise an issue if you come across any trouble

[2022-08-08 14:59] #51 closed

[2022-08-08 15:32] 0dminnimda commented on #51
Yeah, that's better 👍

[2022-09-24 03:19] rizkytegar opened #55 "Removing ImgBotApp from contributor list"
I tried to delete another username. like: rizkytegar, and this works.

But when deleting ImgBot App it doesn't work

### work

[code]

### Not work
[code]
### Not work
[code]
### Not work
[code]
### Not work
[code]

### Example result

![image](https://user-images.githubusercontent.com/55475891/192077808-a6569799-cf43-48b8-8e93-1239f201da71.png)

ImgBotApp account : https://github.com/ImgBotApp

[

[2022-09-24 07:29] akhilmhdh commented on #55
Hey i just tried this and it seems to work. I appended image bot then removed in a test repo

[code]

[2022-09-24 07:44] rizkytegar commented on #55
I just tried, but still get the same result
[code]

result
[code]

[2022-09-24 14:17] akhilmhdh commented on #55
Very weird i must say. Actually you dont need to add that ImgBotApp. I added it to as i dont have that in my list.

I tried it my repo and it works and remove img bot.

[2022-11-20 17:19] Hedreon opened #57 "Repo owner is "Null""
If possible, how do I fix that & why is that happening?

![Image](https://user-images.githubusercontent.com/39467046/202916118-4a6ca4f3-71ae-49e5-9865-a2dc6a8f321f.png)

[2022-11-20 17:22] Hedreon commented on #57
oh wait it will fix itself on the second commit after the addition of action

[2022-11-20 17:22] #57 closed